@import url('https://fonts.googleapis.com/css?family=Cedarville Cursive');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root {
	--cwcolor: #f9bf9e;
	--second: #eeff00;
	--bg: #677994;
	--shadowText: #d6e1f3;
}

body {
	background-color: var(--bg);
	color: white;
	align-items: center;
	align-content: center;
}

.top {
	min-height: 100vh;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.header-text {
	color: var(--cwcolor);
	font-family: 'Cedarville Cursive';
	font-size: 60px;
	text-shadow: rgb(56, 56, 56) 1px 1px;
}

.logo {
	display: flex;
	justify-content: center;
}

.logo-img {
	border: 3px solid var(--second);
	border-radius: 50%;
	max-width: 20%;
	height: auto;
	animation: wiggle 7s ease-in-out infinite;
}

@keyframes wiggle {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		-webkit-transform: translatey(0px);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translate3d(42px, -20px, -135px);
	}
	75% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translate3d(-42px, -20px, 135px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		-webkit-transform: translatey(0px);
		transform: translatey(0px);
	}
}

.nav-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.nav {
	box-sizing: border-box;
	appearance: none;
	background-color: transparent;
	border-radius: 0.6em;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	margin: 20px;
	padding: 1em 2em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.nav:hover,
.nav:focus {
	color: #fff;
	outline: 0;
}

.nav {
	border-color: var(--cwcolor);
	color: var(--bg);
	text-shadow: rgb(56, 56, 56) 1px 1px;
	box-shadow: 0 0 40px 40px var(--cwcolor) inset, 0 0 0 0 var(--cwcolor);
	transition: all 150ms ease-in-out;
}
.nav:hover {
	box-shadow: 0 0 10px 0 var(--cwcolor) inset, 0 0 10px 4px var(--cwcolor);
}

.description {
	font-family: 'Comfortaa';
	text-align: center;
	color: var(--second);
	text-shadow: rgb(44, 44, 44) 1px 1px;
}

.category {
	display: flex;
}

.title {
	color: var(--second);
	font-family: 'Comfortaa';
	text-shadow: rgb(44, 44, 44) 1px 1px;
}

.text {
	font-family: 'Comfortaa';
	color: var(--shadowText);
	text-shadow: rgb(44, 44, 44) 1px 1px;
}

.category {
	justify-content: space-around;
	align-items: center;
}

.container {
	width: 40vw;
}

.gif {
	border-radius: 5px;
	border: 1px solid var(--cwcolor);
	max-height: 70vh;
	width: auto;
}

.bar {
	color: rgba(255, 255, 255, 0.247);
	margin: 20px auto;
}
